lapx==0.5.10.post1
matplotlib==3.9.2
numpy==1.26.4
opencv-python==4.10.0.84
openpyxl==3.1.5
pandas==2.2.2
pillow==10.4.0
psutil==6.0.0
py-cpuinfo==9.0.0
requests==2.32.3
scikit-image==0.24.0
scipy==1.14.1
setuptools==75.0.0
tkinterdnd2==0.4.2
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
typing_extensions==4.12.2
ultralytics==8.2.94
ultralytics-thop==2.0.6
urllib3==2.2.3
filterpy
numba
